<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="content">

        <p class="title">
            Recuperar contraseña
        </p>
        <p>
            Ingresa tu correo electrónico
        </p>

        <form (ngSubmit)="onRecoverPassword()" [formGroup]="formRecoverPassword">
            <div class="my-form">
                <input type="email" class="form-control input-rounded" placeholder="Correo electrónico" name="email" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">El email es necesario.</div>
                    <div *ngIf="f.email.errors.email">Debe ingresar un email válido.</div>
                </div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-register">Enviar</button>
            </div>
        </form>

    </div>

</div>