.content {
    padding: 5px 25px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

.my-form {
    display: flex;
    flex-direction: column;
}

.my-form .legend {
    font-size: 90%;
    color: #bbbb;
    font-weight: bold;
    margin: 10px 0;
}

.btn-group {
    width: 100%;
}

.btn-group .btn-register {
    font-family: "Monserrat", sans-serif;
    width: 100%;
    color: #fff;
    background: var(--primary-color);
    padding: 15px 0;
    margin: 25px 0;
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: capitalize;
}