<div class="container">
    <div class="col-xs-8 col-md-4 col-lg-6 mx-auto text-center">
        <div class="header-title">
            <div class="logo">
                <img src="assets/images/logo.png" alt="Ya Voy">
            </div>
            <h2 class="wv-heading--title"> Iniciar sesión </h2>
        </div>
    </div>
    <div class="col-xs-8 col-md-4 col-lg-6 mx-auto">
        <div class="myform form ">
            <form class="login-container" [formGroup]="formLogin" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <input type="email" class="form-control input-rounded" formControlName="username" placeholder="Usuario" autocomplete="username" required [ngClass]="{'is-invalid': formSubmitAttempt && f.username.errors}">
                    <div *ngIf="formSubmitAttempt && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Usuario es requerido</div>
                        <div *ngIf="f.username.errors.email">Debes de ingresar un email valido</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-rounded" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" formControlName="password" placeholder="Contraseña" autocomplete="current-password" required [ngClass]="{'is-invalid': formSubmitAttempt && f.password.errors}">
                    <div *ngIf="formSubmitAttempt && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password es requerido</div>
                        <div *ngIf="f.password.errors.pattern">Debe de ingresar una contraseña valida</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-login">Inicia Sesión</button>
                <div class="forgot">
                    <span class="btn btn-link btn-recover-password" (click)="openFormRecoverPassword()">¿Olvidaste la contraseña?</span>
                </div>
            </form>
        </div>
    </div>
</div>