<div class="alert-box">
    <div class="modal-header">
        <h4 class="modal-title">Agrega tu email</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="content">
            <form (ngSubmit)="onRecoverPassword()" [formGroup]="formRecoverPassword">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo electrónico" name="email" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">El email es necesario.</div>
                        <div *ngIf="f.email.errors.email">Debe ingresar un email válido.</div>
                    </div>
                  </div>
                <br>
                <br>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary px-4">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
