<div class="modal-body">

    <div class="header">
        <h3 class="header-title">{{ title }}</h3>
        <hr>
    </div>

    <div class="data">

        <!-- ============
             INICIA FORMULARIO 
            ================= -->
        <form class="form">
            <div class="form-group">
                <label for="dp">Fecha</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="scheduleDate" ngbDatepicker #d="ngbDatepicker" readonly="readonly">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                          <img class="mx-2 cursor" src="assets/images/icons/icon_calendar.png" alt="" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="reason">Hora inicial</label>
                <ngb-timepicker [(ngModel)]="scheduleTimeIni" [meridian]="scheduleTimeMeridian" name="scheduleTimeIni"></ngb-timepicker>
                <!--button class="btn btn-sm btn-outline-{{scheduleTimeMeridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                      Meridian - {{meridian ? "ON" : "OFF"}}
                </button-->
            </div>
            <div class="form-group">
                <label for="reason">Hora final</label>
                <ngb-timepicker [(ngModel)]="scheduleTimeFin" [meridian]="scheduleTimeMeridian" name="scheduleTimeFin"></ngb-timepicker>
                <!--button class="btn btn-sm btn-outline-{{scheduleTimeMeridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
                      Meridian - {{meridian ? "ON" : "OFF"}}
                </button-->
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button (click)="closeModal()" class="btn btn-cancel">Cancelar</button>
                    </div>
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                    <div class="col">
                        <button (click)="onScheduleEvent()" class="btn btn-create">{{ btnLabelAccept }}</button>
                    </div>
                </div>
            </div>
        </form>

        <!-- ============
             TERMINA FORMULARIO 
            ================= -->

    </div>



</div>