<div class="container">
    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <div class="logo">
                <img src="assets/images/login_logo.png" alt="Casa yavoy">
            </div>
            <h2 class="wv-heading--title">
                REGISTRO - ADMIN
            </h2>
            <h2 class="wv-heading-subtitle">
            </h2>
        </div>
    </div>
    <div class="mx-auto">
        <div class="myform form">
            <form class="login-container" [formGroup]="formRegister" (ngSubmit)="onRegister()">
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" formControlName="name" required="required">
                    <div class="invalid-feedback" *ngIf="isFieldInvalid('name')">
                        Name is required
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control" placeholder="email" formControlName="email" required="required">
                    <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
                        Username is required
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" formControlName="password" required="required">
                    <div class="invalid-feedback" *ngIf="isFieldInvalid('password')">
                        Password is required
                    </div>
                </div>
                <div class="form-group">
                    <select name="role" id="role" class="form-control" placeholder="Role" formControlName="role" required="required">
                        <option value="User" checked>Usuario</option>
                        <option value="Admin">Administrador</option>
                    </select>
                </div>
                <div class="text-center btns">
                    <button type="submit" class="btn btn-block btn-login">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>