<nav class="navbar navbar-light bg-yavoy" id="navbar-desk">
    <a [routerLink]="['/dashboard']" class="navbar-brand cursor">
        <img class="logo" src="assets/images/logo.png" alt="YaVoy" style="max-height: 100px; width: 100%;">
    </a>
    <div class="links" *ngIf="!routeChild">
        <a class="notification notranslate" [routerLink]="['/dashboard/registers']" routerLinkActive="link-active">
            <span>Registros</span>
            <span class="badge">1</span>
        </a>
        <a class="notranslate" [routerLink]="['/dashboard/users']" routerLinkActive="link-active">Usuarios</a>
        <a [routerLink]="['/logout']" routerLinkActive="link-active"> <img class="mr-2 img-logout" src="assets/images/icons/icon_exit.png" alt="Salir"> Salir</a>
    </div>
</nav>
<nav class="navbar navbar-light bg-yavoy" id="navbar-movil">
    <a [routerLink]="['/dashboard']" class="navbar-brand cursor">
        <img class="logo" src="assets/images/logo.png" alt="YaVoy">
    </a>
    <app-side-bar></app-side-bar>
</nav>