<div class="container animated fadeIn font-family-yavoy">

    <div class="header">
        <h3 class="header-title">
            Listado de voluntarios
        </h3>
    </div>

    <!-- ============
    INICIA ACCIONES DISPONIBLES 
   ================= -->

    <div class="actions row no-gutters rw-reverse">
        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-lg-8 col-sm-12 my-2">
                    <select class="select-yavoy" [(ngModel)]="paramsUsers.status" name="status" (change)="onSearchUsers($event)">
                        <option value="">Todas</option>
                        <option value="request">Sin aprobar</option>
                        <option value="approved">Aprobados</option>
                        <option value="denied">Denegados</option>
                    </select>
                </div>
                <div class="col-lg-4 col-sm-12 my-2">
                    <button [routerLink]="['/dashboard/registers/create']" class="btn btn-action">Registrar voluntario</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-action">
            <div class="input-icon">
                <input class="input-search" type="search" placeholder="Buscar" placeholder="Ingresa datos y da ENTER" [(ngModel)]="paramsUsers.q" name="q" (search)="onSearchUsers($event)">
                <img src="assets/images/icons/icon_search.svg" alt="">
            </div>
        </div>
    </div>

    <!-- ============
     TERMINA ACCIONES DISPONIBLES
   ================= -->
    <!-- ============
    INICIA LA TABLA DE REGISTROS 
   ================= -->

    <div class="row">
        <div class="col-12">
            <table class="table table-users table-responsive-sm">
                <thead>
                    <tr>
                        <!--th scope="col"></th-->
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Estatus</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ARREGLO DE EVENTOS  -->
                    <tr *ngFor="let user of users; let i = index">
                        <td *ngIf="user.photo !== undefined && user.photo !== null; else withoutPhoto">
                            <div class="thumbnail-img" [ngStyle]="{'background-image': 'url(' + user.photo.url + ')'}">
                                <!--img src="{{user.photo.url}}" alt="Foto de perfil de {{ user.firstName }} {{ user.lastName }}" /-->
                            </div>
                        </td>
                        <ng-template #withoutPhoto>
                            <td>
                                <div class="thumbnail-img">
                                    <!--img src="assets/images/no-image-nike.png" alt="Foto de perfil de {{ user.firstName }} {{ user.lastName }}" /-->
                                </div>
                            </td>
                        </ng-template>
                        <td>{{ user.firstName }}&nbsp;{{ user.lastName }}</td>
                        <td>{{ user.city }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ getHorarioString(user) }}</td>
                        <td>
                            <span *ngIf="user.status == 'approved'" class="badge badge-success">Aprobado</span>
                            <span *ngIf="user.status == 'request'" class="badge badge-info">Solicitud</span>
                            <span *ngIf="user.status == 'deleted'" class="badge badge-danger">Borrado</span>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-action mr-1" (click)="onApproved(user)" [disabled]="user.status == 'request' || user.status == 'denied'? '' : 'disabled'" *ngIf="user.status == 'request'">Aprobar</button>
                            <button class="btn btn-action mr-1" (click)="onDelete(user)" [disabled]="user.status == 'denied'? 'disabled' : ''" *ngIf="user.status == 'approved'">Rechazar</button>
                            <button class="btn btn-action" (click)="onView(user)">Ver</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-info" *ngIf="noFoundData">
                <strong>No hay informaci&oacute;n que mostrar</strong>
            </div>
        </div>
    </div>

    <!-- ============
    TERMINA LA TABLA DE REGISTROS 
   ================= -->

    <!-- ============
        INICIA PAGINADOR
       ================= -->
    <div class="paginator">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous" [ngClass]="{isDisabled: !hasPreviousPage}" (click)="loadPage(page-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" *ngFor="let num of pages" [ngClass]="{active: page===num, isDisabled: page===num}"><a class="page-link" href="javascript:void(0)" (click)="loadPage(num)">{{ num + 1 }}</a></li>

                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next" [ngClass]="{isDisabled: !hasNextPage }" (click)="loadPage(page+1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- ============
        TERMINA EL PAGINADOR 
       ================= -->

</div>