.content {
    padding: 5px 25px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

.btn-group {
    width: 100%;
}

.btn-group .btn-register {
    font-family: "Monserrat", sans-serif;
    width: 100%;
    color: #fff;
    background: var(--primary-color);
    padding: 15px 0;
    margin: 25px 0;
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: capitalize;
}

.btn-cancel {
    background: var(--primary-color);
    width: 130px;
    height: 45px;
    color: #fff;
}

.row {
    padding-right: 10px;
}

.row .data {
    margin: 0 15px;
    width: 100%;
    padding: 8px
}

.row .data .data-title {
    font-weight: bold;
    margin-right: 5px;
}

.row .data span.data-title :nth-child(2) {
    font-weight: bold;
    color: #bbb;
}

.row .data span.data-count {
    display: inline;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    margin-left: 10px;
    border-radius: 10%;
    color: gray;
}

img.img-profile {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

img.img-ine {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid #000;
    border-radius: 5px;
}

.hoverable.hoverable-ine {
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 300px;
    border: 5px solid #000;
    border-radius: 5px;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 5px;
    z-index: 1;
}

.hoverable:hover .hover-text {
    display: block;
}

.hoverable:hover .background {
    display: block;
}

input[type="file"] {
    display: none;
}