<div class="container animated fadeIn font-family-yavoy">
    <div class="row no-gutters header">
        <div class="col-lg-6">
            <h3 class="header-title">Registrar voluntario</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-form">
            <!-- ============
             INICA EL FORMULARIO 
            ================= -->
            <form [formGroup]="formRegister" (ngSubmit)="onCreateUser()">
                <div class="row no-gutters">
                    <div class="col-lg-4" style="padding-right: 2%;">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="hoverable" for="userPhoto">
                                        <img [src]="user?.photo !== undefined && user?.photo !== null ? user?.photo.url : 'assets/images/no-image-nike.png'" class="img-profile"> 
                                        <div class="hover-text">Elegir foto de perfil</div>
                                        <div class="background"></div>
                                      </label>
                                    <br/>
                                    <input id="userPhoto" type='file' (change)="onSelectPhoto($event)">
                                    <button [disabled]="user?.photo !== undefined && user?.photo !== null ? '' : 'disabled'" (click)="deletePhoto()">Borrar</button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="firstName">Nombre:</label>
                                    <input autocomplete="off" type="text" class="form-control input-yavoy input-rounded" formControlName="firstName" placeholder="Nombre" required [ngClass]="{ 'is-invalid': f.firstName.errors }">
                                    <div *ngIf="formSubmitAttempt && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">El nombre es requerido.</div>
                                        <div *ngIf="f.firstName.errors.minlength">El nombre es muy corto.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="firstName">Apellidos:</label>
                                    <input autocomplete="off" type="text" class="form-control input-yavoy input-rounded" formControlName="lastName" placeholder="Apellidos" required [ngClass]="{ 'is-invalid':  f.lastName.errors }">
                                    <div *ngIf="formSubmitAttempt && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">El apellido es requerido.</div>
                                        <div *ngIf="f.lastName.errors.minlength">El apellido es muy corto.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="phone">Teléfono:</label>
                                    <input autocomplete="off" type="tel" class="form-control input-yavoy input-rounded" minlength="10" pattern="[0-9]{10}" oninput="this.value=this.value.replace(/[^0-9]/g,'');" formControlName="phone" placeholder="Teléfono" maxlength="10" required [ngClass]="{ 'is-invalid':  f.phone.errors }">
                                    <div *ngIf="formSubmitAttempt && f.phone.errors" class="invalid-feedback">
                                        <div *ngIf="f.phone.errors.required">El teléfono es necesario.</div>
                                        <div *ngIf="f.phone.errors.minlength">El teléfono es muy corto.</div>
                                        <div *ngIf="f.phone.errors.pattern">El teléfono es invalido.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4" style="padding-right: 2%;">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="hoverable hoverable-ine" for="userINE">
                                        <img [src]="user?.ine !== undefined && user?.ine !== null ? user?.ine.url : 'assets/images/no-image-nike.png'"  class="img-ine"> 
                                        <div class="hover-text">INE</div>
                                        <div class="background"></div>
                                      </label>
                                    <br/>
                                    <input id="userINE" type='file' (change)="onSelectINE($event)">
                                    <button [disabled]="user?.ine !== undefined && user?.ine !== null ? '' : 'disabled'" (click)="deleteINE()">Borrar</button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="birthday">Fecha de nacimiento:</label>
                                    <div class="input-group">
                                        <input class="form-control input-rounded" placeholder="yyyy-mm-dd" name="dp" formControlName="birthdayDateStruct" [maxDate]="max_date" required ngbDatepicker #d="ngbDatepicker" (dateSelect)="onChangeDate($event)" readonly="readonly">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                <img class="mx-2 cursor" src="assets/images/icons/icon_calendar.png"
                                                    alt="" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="firstName">Ciudad:</label>
                                    <input autocomplete="off" type="text" class="form-control input-yavoy input-rounded" formControlName="city" placeholder="Ciudad" required [ngClass]="{ 'is-invalid':  f.city.errors }">
                                    <div *ngIf="formSubmitAttempt && f.city.errors" class="invalid-feedback">
                                        <div *ngIf="f.city.errors.required">La ciudad es requerida.</div>
                                        <div *ngIf="f.city.errors.minlength">La ciudad es muy corta.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="email">Correo electrónico:</label>
                                    <input autocomplete="off" type="email" class="form-control input-yavoy input-rounded" formControlName="email" placeholder="Email" maxlength="100" required [ngClass]="{ 'is-invalid':  f.email.errors }">
                                    <div *ngIf="formSubmitAttempt && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">El email es requerido.</div>
                                        <div *ngIf="f.email.errors.email">Debes de ingresar un email valido.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4" style="padding-right: 2%;">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="status">Estatus</label>
                                    <div class="select-wrapper">
                                        <select class="form-control select-rounded" required formControlName="status">
                                            <option *ngFor="let item of statuses" [ngValue]="item.key">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="schedule">Horario:</label>
                                    <div class="select-wrapper">
                                        <select class="form-control select-rounded" required formControlName="schedule">
                                            <option *ngFor="let item of schedules" [ngValue]="item.key">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="circle">Tipo de afiliación:</label>
                                    <div class="select-wrapper">
                                        <select class="form-control select-rounded" formControlName="circle">
                                            <option *ngFor="let item of circles" [ngValue]="item.objectId">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="description">Descripción</label>
                                    <textarea class="form-control textarea-rounded" minlength="3" id="description" formControlName="description" rows="3" placeholder="Descripción" required [ngClass]="{ 'is-invalid': f.description.errors }"></textarea>
                                    <div *ngIf="formSubmitAttempt && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">La descripción es requerida.</div>
                                        <div *ngIf="f.description.errors.minlength">La descripción es demasiado corta.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-12 col-btns">
                        <button class="btn btn-cancel" (click)="onCancel()">Regresar</button> &nbsp;
                        <!--button type="submit" class="btn btn-create" [disabled]="formRegister.valid ? '' : 'disabled'">Registrar</button-->
                        <button type="submit" class="btn btn-create">Registrar</button>
                    </div>
                </div>
            </form>
            <!-- ============
             TERMINA EL FORMULARIO 
            ================= -->
        </div>
    </div>
</div>